.custom-style-4
    margin-top: -10em
    
 
    span
            color: #116eea
    .custom-badge
            background-color: $button-color
            color: $primary-color
            font-weight: bold
            width: 12em //JE TRAVAILLE DE PLUS EN PLUS AVEC DES EM CAR DANS LE RESPONSIVE CELA DONNE MIEUX//
            height: 2.5em
            align-content: center
            span
                font-weight: 10px

            
       
//FIN SECTION FEATURED SERVICES// 

            
                 
.custom-style-3
    .card
        .custom-card
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.01)
       
       
.card-body 
    text-align: left
    margin-top: 40px
    flex-direction: column
    gap: 1.5em

//DEBUT CAROUSEL//

#carouselExample //UTILISATION DE POSITION RELATIVE ET ABSOLUTE AFIN DE POSTIONNER LE TEXTE AU CENTRE DE L IMAGE//
    position: relative
    overflow: hidden
    margin-top: 5em
    &::after //l'after est utilsé pour créer l'overlay sur l'image de fond//
        content: ''
        position: absolute
        top: 0
        left: 0
        width: 100%
        height:100%
        background-color: rgba(0, 0, 0, 0.7) //0,7 donne un effet plus sombre sur l overlay//
        z-index: 1   
    @media (max-width: 768px) 
        #carouselExample
            position: relative
        .custom-class-5
            position: absolute
        
    .custom-class-5
        position: absolute
        bottom: 9em //POUR DEPLACER LE TEXTE EN HAUT//auto
        z-index: 2
        

        h2
            color: $primary-color
            margin-bottom: 2%
//FIN CAROUSEL///import css-variables from 
   

//SECTION SERVICES//     
.icon 
    background-color: #f1f6fe
    position: relative
    width: 50px
    height: 50px 
    border: 0.5px solid  #106eea
    i
        position: absolute
        top: 50%
        left:50%
        transform: translate(-50%, -50%)//pour bien positionner mon icone au centre//

.custom-card-1
    height:20rem
    border-color: #eaf3fd

    .card
        min-height: 1rem //taille des cartes//
    
    .card-body
        display: flex
        flex-direction: column
        justify-content: space-between
.custom-style-7
        .custom-badge
            background-color: $button-color
            color: $primary-color
            font-weight: bold
            width: 8em
            height: 2.5em
            align-content: center
            span
                font-size: 15px
          
#a
    color:  #116eea
//  
///SECTION TEAM//   
#b
    color:  #116eea 
           
.custom-style-8
    background-color: #f6f9fe
    div
        .custom-badge
            background-color: $button-color
            color: $primary-color
            font-weight: bold
            width: 10em
            height: 2em
            align-content: center
            span
                font-size: 15px
@media (max-width: 378px) 
    .custom-style-8
        display: flex
        flex-direction: column
        
   
    .card
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)
//FIN SECTION TEAM//
    
//SECTION CONTACT//

.custom-style-9
    .custom-badge
        background-color: $button-color
        color: $primary-color
        font-weight: bold
        width: 10em
        height: 2em
        align-content: center 
        span
            font-size: 15px
    h2
        color:  #106eea 
        font-weight: bold   



.custom-style-11
    background-color: #fdfdfd
    .card
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1)  

.card
    margin:0rem
    .card-body
        padding: 0.7rem
        text-align: center

    .custom-card-9
        align-content: center
        justify-content: center
        align-items: center
        display: flex //j'ai mis le contenu en display flex colomn afin de le centrer au milieu de la div parent//
        flex-direction: column 
     
    
    
        .round
            display: flex
            justify-content: center
            align-items: center
            width: 50px
            height: 50px
            border: 1px dashed  #106eea //dashed pour l effet en pointille//
            border-radius: 50%
            margin-bottom: 0.1rem
            h4,p
                color: #a3a3a3
                font-weight: bold
                margin-bottom: 0.1rem
            h4
                margin-bottom: 0 
                
            .blue
                color:  #106eea
                    
        
        
        //FIN//