/* Je commence tout d'abord par donner du style dans ma barre de navigation */
#logo
    font-size: 1.5em
#navbarNav
    margin-left: 30%
    color: white
    font-weight: bold
    padding-top: 1%

.point
    color: $primary-color
    font-size: 50px
    
.navbar-brand
    margin-left: 15%
    font-weight: bold

    @media screen and (max-width: 780px) 
        nav.navbar 
            flex-direction: column
            align-items: center

        .navbar-brand 
            font-size: 1.2rem
    

        .navbar-toggler 
            display: block
    

        .navbar-collapse 
            display: none
            display: flex
            flex-direction: column
            gap: 15px
            align-items: center
      

       